$headerbg:rgba(46, 52, 74, 0.5);
$headerbgone:rgb(30, 34, 49);
$header:rgb(46,52,74);
$fontcolor:rgb(240, 248, 255);
$secondaryfontcolor:rgb(247, 106, 19);

$gradientone:linear-gradient(#bc430d,#f09410);
$gradienttwo:linear-gradient(45deg, #e6e4ed, #cfcdd4 50%,#4c3302 100%);
