@use 'scss/font' as f;
@use 'scss/colors' as c;

*, html{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-image: url('../img/background.webp');
}
/* The `header` styling block in the SCSS code is defining the styles for a header section of a
webpage. Here's a breakdown of what each property is doing: */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    top:25px;
    background-color: c.$headerbg;
    border: 2px solid c.$header;
    border-radius: .50rem;
    margin-left:350px;
    width:850px;
    .logo{
        img{
           width:50px;
           height: 50px;
        }
    }
    ul, .header-link{
        list-style-type: none;
        color:c.$fontcolor;
        @include f.font-900;
        li{
           display: inline;
           margin:0 15px;
           text-transform: uppercase;
        }
        li a{
            text-decoration: none;
            color:c.$fontcolor;
        }
    }
    .btnResume{
        background: c.$secondaryfontcolor;
        color:c.$fontcolor;
        padding:.50rem;
        border: 0 solid transparent;
        border-radius:5px;
        margin-right: 1rem;
        @include f.font-normal;
        a{
            text-decoration: none;
            color:c.$fontcolor;
        }
    }
    .btnResume:hover{
        background: c.$fontcolor;
        transition: all 0.3s ease-in-out;
        a{
            text-decoration: none;
            color: c.$headerbgone;
        }
    }
}

/* The `nav` styling block in the SCSS code is defining the styles for a navigation section of a
webpage. Here's a breakdown of what each property is doing: */
nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:270px;
    left:350px;
    padding:1rem;
    width:850px;
    background-color: c.$headerbg;
    border: 2px solid c.$header;
    border-radius: .50rem;
    img{
        position:absolute;
        top:-160px;
        left:325px;
        width:184px;
        height:184px;
        border:2px solid c.$fontcolor;
        border-radius: 100%;
    }
    h1,h2{
        @include f.font-normal;
        color:c.$fontcolor;
        padding:1rem;
    }
    h2{
        margin-top:-25px;
        font-size: 1rem;
        color: c.$secondaryfontcolor;
    }
    p{
        color:c.$fontcolor;
        text-align: center;
        width:350px;
        @include f.font-ubuntu-normal;
    }
}

main{    
    position: absolute;
    top:500px;
    left:350px;
    padding:1rem;
    width:850px;
    background-color: c.$headerbg;
    border: 2px solid c.$header;
    border-radius: .50rem;
    h1{
        color: c.$secondaryfontcolor;
        padding-bottom: 5px;
        @include f.font-900;
    }
    .portfolio-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:1rem;
        margin-bottom:10px;
        background-color: c.$header;
        border: 2px solid c.$headerbgone;
        border-radius: 10px;
        .portfolio-img{
                img{
                    width:700px;
                    height:400px;
                    border:2px solid c.$fontcolor;
                } 
        }
        .portfolio-description{
            margin-left:1rem;
            h2{
                @include f.font-900;
            }
            p{
                @include f.font-ubuntu-normal;
            }
            :is(h2,p){
               color:c.$fontcolor;
            }
        }
        .portfolio-link{
            position: absolute;
            align-items: center;
            margin-left:1rem;
            left:750px;
            padding:1rem;
            background-color: c.$secondaryfontcolor;
            border:0 solid transparent;
            a{
                text-decoration: none;
                color:c.$fontcolor;
            }
        }
    }
    p{
        color:c.$fontcolor;
        width:800px;
        text-align: justify;
        @include f.font-ubuntu-normal;
    }
}
button{
    position:fixed;
    background-color: c.$fontcolor;
    bottom:20px;
    right:10px;
    padding:1rem;
    border:0 solid transparent;
    border-radius: 10px;
    z-index: 1;
    @include f.font-900;
    a{
        text-decoration: none;
    }
}
button:hover{
    position:fixed;
    background-color: c.$secondaryfontcolor;
    bottom:20px;
    right:10px;
    padding:1rem;
    border:0 solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
:is(button:hover>a){
    color:c.$fontcolor;
}

section{
    position: absolute;
    top:930px;
    left:350px;
    padding:1rem;
    width:850px;
    background-color: c.$headerbg;
    border: 2px solid c.$header;
    border-radius: .50rem;
    h1{
        color: c.$secondaryfontcolor;
        padding-bottom: 5px;
        @include f.font-900;
    }
    .software-list{
        display: grid;
        grid-template-columns:2fr 1fr;
        gap:1rem;
        .software-item{
           :is(h2,p){
               color:c.$fontcolor;
           }
           h2{
               padding-bottom: 1.10rem;
               @include f.font-900;
           }
           img{
            display: inline-block;
            position: relative;
            top:20px;
            width:50px;
            height:50px;
            padding:10px;
            background-color: c.$secondaryfontcolor;
            border:0 solid transparent;
            border-radius: 5px;
           }
           p{
            width:350px;
            @include f.font-ubuntu-normal;
           }
        }
    }
}

footer{
    position: absolute;
    bottom:-850px;
    width:100%;
    padding:1rem;
    background-color: c.$secondaryfontcolor;
    @include f.font-ubuntu-normal;
    .footer{
        display:flex;
        padding:1rem;
        gap:1rem;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
            color:c.$headerbgone;
        }
        a:hover{
            color: c.$fontcolor;
            transition: all 0.2s ease-in-out;
        }
        img{
            width:30px;
            height:30px;
            background-color: none;
        }
    }
}
