@import 'scss/colors.scss';
*, html{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-image: url('../img/background.webp');

/* The `header` styling block in the SCSS code is defining the styles for a header section of a
webpage. Here's a breakdown of what each property is doing: */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:25px;
    background-color: $headerbg;
    border: 2px solid $header;
    border-radius: 1rem;
    margin-left:425px;
    width:700px;
    .logo{
        img{
           width:50px;
           height: 50px;
        }
    }
    ul, .header-link{
        list-style-type: none;
        color:$fontcolor;
        li{
           display: inline;
           margin:0 15px;
        }
        li a{
            text-decoration: none;
            color:$fontcolor;
        }
    }
}

/* The `nav` styling block in the SCSS code is defining the styles for a navigation section of a
webpage. Here's a breakdown of what each property is doing: */
nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:250px;
    left:425px;
    padding:1rem;
    width:700px;
    background-color: $headerbg;
    border: 2px solid $header;
    border-radius: 1rem;
    img{
        position:absolute;
        top:-125px;
        left:260px;
        width:150px;
        height:150px;
        border:2px solid $fontcolor;
        border-radius: 100%;
    }
    h1,h2,p{
        color:$fontcolor;
        padding:1rem;
    }
    h2{
        margin-top:-25px;
        font-size: 1rem;
        color: $secondaryfontcolor;
    }
    p{
        text-align: center;
        width:350px;
    }
}

main{    
    position: absolute;
    top:500px;
    left:425px;
    padding:1rem;
    width:700px;
    background-color: $headerbg;
    border: 2px solid $header;
    border-radius: 1rem;
    h1{
        color: $secondaryfontcolor;
        padding-bottom: 5px;
    }
    .portfolio-section{
        display: flex;
        padding:1rem;
        margin-bottom:10px;
        background-color: $header;
        border: 2px solid $headerbgone;
        border-radius: 10px;
        .portfolio-img{
                img{
                    width:700px;
                    height:400px;
                    border:2px solid $fontcolor;
                } 
        }
        .portfolio-description{
            color:$fontcolor;
            margin-left:1rem;
        }
        .portfolio-link{
            position: absolute;
            align-items: center;
            margin-left:1rem;
            left:600px;
            padding:1rem;
            background-color: $secondaryfontcolor;
            border:0 solid transparent;
            a{
                text-decoration: none;
                color:$fontcolor;
            }
        }
    }
    p{
        color:$fontcolor;
        width:650px;
        text-align: justify;
    }
}
button{
    position:fixed;
    background-color: $fontcolor;
    bottom:20px;
    right:20px;
    padding:1rem;
    border:0 solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    a{
        text-decoration: none;
    }
    a:hover{
        color:$fontcolor;
    }
}
button:hover{
    position:fixed;
    background-color: $secondaryfontcolor;
    bottom:20px;
    right:20px;
    padding:1rem;
    border:0 solid transparent;
    border-radius: 10px;
    color: $fontcolor;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    z-index: 1;
    a{
        color: $fontcolor;
    }
}

section{
    position: absolute;
    display: flex;
    top:930px;
    left:425px;
    padding:1rem;
    width:700px;
    background-color: $headerbg;
    border: 2px solid $header;
    border-radius: 1rem;
    h1{
        color: $secondaryfontcolor;
        padding-bottom: 5px;
    }
}
}
footer{
    position: absolute;
    bottom:-400px;
    width:100%;
    padding:1rem;
    background-color: $secondaryfontcolor;
}
