@import 'scss/colors.scss';
*, html{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-image: url('../img/background.webp');
}
/* The `header` styling block in the SCSS code is defining the styles for a header section of a
webpage. Here's a breakdown of what each property is doing: */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    top:25px;
    background-color: $headerbg;
    border: 2px solid $header;
    border-radius: .50rem;
    margin-left:350px;
    width:850px;
    .logo{
        img{
           width:50px;
           height: 50px;
        }
    }
    ul, .header-link{
        list-style-type: none;
        color:$fontcolor;
        li{
           display: inline;
           margin:0 15px;
           text-transform: uppercase;
        }
        li a{
            text-decoration: none;
            color:$fontcolor;
        }
    }
    .btnResume{
        background: $secondaryfontcolor;
        color:$fontcolor;
        padding:.50rem;
        border: 0 solid transparent;
        border-radius:5px;
        margin-right: 1rem;
        a{
            text-decoration: none;
            color:$fontcolor;
        }
    }
    .btnResume:hover{
        background: $fontcolor;
        transition: all 0.3s ease-in-out;
        a{
            text-decoration: none;
            color: $headerbgone;
        }
    }
}

/* The `nav` styling block in the SCSS code is defining the styles for a navigation section of a
webpage. Here's a breakdown of what each property is doing: */
nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:250px;
    left:350px;
    padding:1rem;
    width:850px;
    background-color: $headerbg;
    border: 2px solid $header;
    border-radius: .50rem;
    img{
        position:absolute;
        top:-125px;
        left:350px;
        width:150px;
        height:150px;
        border:2px solid $fontcolor;
        border-radius: 100%;
    }
    h1,h2,p{
        color:$fontcolor;
        padding:1rem;
    }
    h2{
        margin-top:-25px;
        font-size: 1rem;
        color: $secondaryfontcolor;
    }
    p{
        text-align: center;
        width:350px;
    }
}

main{    
    position: absolute;
    top:500px;
    left:350px;
    padding:1rem;
    width:850px;
    background-color: $headerbg;
    border: 2px solid $header;
    border-radius: .50rem;
    h1{
        color: $secondaryfontcolor;
        padding-bottom: 5px;
    }
    .portfolio-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:1rem;
        margin-bottom:10px;
        background-color: $header;
        border: 2px solid $headerbgone;
        border-radius: 10px;
        .portfolio-img{
                img{
                    width:700px;
                    height:400px;
                    border:2px solid $fontcolor;
                } 
        }
        .portfolio-description{
            color:$fontcolor;
            margin-left:1rem;
        }
        .portfolio-link{
            position: absolute;
            align-items: center;
            margin-left:1rem;
            left:750px;
            padding:1rem;
            background-color: $secondaryfontcolor;
            border:0 solid transparent;
            a{
                text-decoration: none;
                color:$fontcolor;
            }
        }
    }
    p{
        color:$fontcolor;
        width:800px;
        text-align: justify;
    }
}
button{
    position:fixed;
    background-color: $fontcolor;
    bottom:20px;
    right:20px;
    padding:1rem;
    border:0 solid transparent;
    border-radius: 10px;
    z-index: 1;
    a{
        text-decoration: none;
    }
}
button:hover{
    position:fixed;
    background-color: $secondaryfontcolor;
    bottom:20px;
    right:20px;
    padding:1rem;
    border:0 solid transparent;
    border-radius: 10px;
    color: $fontcolor;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    a{
        color: $fontcolor;
    }
}

section{
    position: absolute;
    display: flex;
    top:930px;
    left:350px;
    padding:1rem;
    width:850px;
    background-color: $headerbg;
    border: 2px solid $header;
    border-radius: .50rem;
    h1{
        color: $secondaryfontcolor;
        padding-bottom: 5px;
    }
    .software-list{
        display: grid;
        grid-template-columns: 2fr 1fr;
        width:500px;
        gap:1rem;
    }
}

footer{
    position: absolute;
    bottom:-950px;
    width:100%;
    padding:1rem;
    background-color: $secondaryfontcolor;
}
