@import 'scss/colors.scss';
*, html{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url('../img/background.webp');
}
/* The `header` styling block in the SCSS code is defining the styles for a header section of a
webpage. Here's a breakdown of what each property is doing: */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    background-color: $headerbg;
    border: 2px solid $header;
    border-radius: 1rem;
    margin-left:425px;
    width:700px;
    .logo{
        width:100px;
        height: 100px;
        background-image:url('../img/logo.webp');
    }
    ul, .header-link{
        list-style-type: none;
        color:$fontcolor;
        li{
           display: inline;
           margin:0 15px;
        }
    }
}

/* The `nav` styling block in the SCSS code is defining the styles for a navigation section of a
webpage. Here's a breakdown of what each property is doing: */
nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:140px;
    left:425px;
    padding:1rem;
    width:700px;
    background-color: $headerbg;
    border: 2px solid $header;
    border-radius: 1rem;
    img{
        width:150px;
        height:150px;
        border:2px solid $fontcolor;
        border-radius: 100%;
    }
    h1,h3,p{
        color:$fontcolor;
        padding:1rem;
    }
    h3{
        margin-top:-25px;
        color: $secondaryfontcolor;
    }
    p{
        text-align: center;
        width:350px;
    }
}

section{    
    position: absolute;
    top:530px;
    left:425px;
    padding:1rem;
    width:700px;
    background-color: $headerbg;
    border: 2px solid $header;
    border-radius: 1rem;
    h1{
        color: $secondaryfontcolor;
        padding-bottom: 5px;
    }
    .portfolio-section{
        display: flex;
        padding:1rem;
        margin-bottom:10px;
        background-color: $header;
        border: 2px solid $headerbgone;
        border-radius: 10px;
        .portfolio-img{
                img{
                    width:600px;
                    height:400px;
                    border:2px solid $fontcolor;
                } 
        }
        .portfolio-description{
            color:$fontcolor;
            margin-left:1rem;
        }
        .portfolio-link{
            position: absolute;
            align-items: center;
            margin-left:1rem;
            left:600px;
            padding:1rem;
            background-color: $secondaryfontcolor;
            border:0 solid transparent;
            a{
                text-decoration: none;
                color:$fontcolor;
            }
        }
    }
}

.tools-section{
    position: absolute;
    display: flex;
    top:700px;
    left:425px;
    padding:1rem;
    width:700px;
    background-color: $headerbg;
    border: 2px solid $header;
    border-radius: 1rem;
    h1{
        color: $secondaryfontcolor;
    }
}